<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adesiji.Walkess"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-library android:name="com.google.android.maps"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContact"
            android:label="AddContact" >
            <intent-filter>
                <action android:name="android.intent.action.AddContact" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppointmentType"
            android:label="AppointmentType" >
            <intent-filter>
                <action android:name="android.intent.action.AppointmentType" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Appointments"
            android:label="Appointments" >
            <intent-filter>
                <action android:name="android.intent.action.Appointments" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Booking"
            android:label="Booking" >
            <intent-filter>
                <action android:name=".Booking" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera1"
            android:label="Camera" >
            <intent-filter>
                <action android:name=".Camera" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Date"
            android:label="Date" >
            <intent-filter>
                <action android:name=".Date" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayContact"
            android:label="DisplayContact" >
            <intent-filter>
                <action android:name=".DisplayContact" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Email"
            android:label="Email" >
            <intent-filter>
                <action android:name=".Email" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Facebook"
            android:label="Facebook" >
            <intent-filter>
                <action android:name=".Facebook" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InternalStorage"
            android:label="InternalStorage" >
            <intent-filter>
                <action android:name="android.intent.action.InternalStorage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationService"
            android:label="LocationService" >
            <intent-filter>
                <action android:name=".LocationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="MapsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MapsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tracking"
            android:label="Tracking" >
            <intent-filter>
                <action android:name=".Tracking" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewContactActivity"
            android:label="NewContactActivity" >
            <intent-filter>
                <action android:name=".NewContactActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Phone"
            android:label="Phone"
            android:theme="@style/AppTheme" >
>
            <intent-filter>
                <action android:name=".Phone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Picture"
            android:label="Picture"
            android:theme="@style/AppTheme" >
>
            <intent-filter>
                <action android:name=".Picture" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoochService"
            android:label="PoochService"
            android:theme="@style/AppTheme" >
>
            <intent-filter>
                <action android:name=".PoochService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sensors"
            android:label="Sensors" >
            <intent-filter>
                <action android:name=".Sensors" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sms"
            android:label="Sms" >
            <intent-filter>
                <action android:name=".Sms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Time_Walk"
            android:label="Time_Walk"
            android:theme="@style/AppTheme" >
>
            <intent-filter>
                <action android:name=".Time_Walk" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Time"
            android:label="Time" >
            <intent-filter>
                <action android:name=".Time" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Track_Minutes_Walk"
            android:label="Track_Minutes_Walk" >
            <intent-filter>
                <action android:name=".Track_Minutes_Walk" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Twitter"
            android:label="Twitter" >
            <intent-filter>
                <action android:name=".Twitter" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User"
            android:label="User" >
            <intent-filter>
                <action android:name=".User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Walking"
            android:label="Walking" >
            <intent-filter>
                <action android:name="android.intent.action.Walking" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Web"
            android:label="Web" >
            <intent-filter>
                <action android:name="android.intent.action.Web" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDmmee698U6j6DRckQeLlSHgFsGcu4n43c" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmmee698U6j6DRckQeLlSHgFsGcu4n43c" />

        <activity
            android:name=".MapFragmentClass"
            android:label="@string/title_activity_map_fragment_class" >
        </activity>
    </application>

</manifest>
